* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Garamond, Arial, Tahoma, Verdana, sans-serif;
	background-color:#ffcb85;

}
a {
	color: #3a2514 ;
	outline: none;
	text-decoration: none;
	font-family:Garamond;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#header {
	height: 50px;
	background: #ffcb85 ;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header



/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 0 0 270px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #ffcb85;
}



#langmenu {
width: 100%;
text-align:center;
clear:both;
text-align:left;

padding-top:10px;
}

#langmenua{color: #3a2514 ;
font-family:Garamond;
font-size:18px;
text-align:left;
display: block;
margin-top:-10px;
}

#curlang{
color: #3a2514 ;
font-family:Garamond;
font-size:21px;
text-align:left;
display: block;
margin-top:-10px;
font-weight:bolder ;
}

#curmenu{
	color: #3a2514 ;
	font-size:34px;
	font-family:Garamond;
    text-align:left;
    font-weight:bolder ;
    display: block;
}
#menua{
color: #3a2514 ;
font-family:Garamond;
text-align:left;
display: block;
margin-top:-10px;
font-size:32px;
}

#menu {
width: 100%;
text-align:center;
clear:both;
text-align:left;
margin-top:20px;
padding-top:20px;
padding-bottom:20px;
margin-left:-10px;
}



#message
{
display: block;
display: none;

/* ссылка над всеми элементами */
z-index: 999;

/* ссылка не заслоняет полностью текст под ней */
opacity: .8;

/* ссылка всегда на одном и том же месте */
position: fixed;

/* ссылка внизу страницы */
top: 100%;
margin-top: -80px; /* = height + preferred bottom margin */

/* ссылка по центру */
left: 80%;
margin-left: -80px;



/* ссылка большая, заметная и ее легко найти */

line-height: 48px;
height: 48px;
padding: 10px;
background-color: #ffcb85;
font-size: 24px;
text-align: center;
}

#message a { color: #fff; }





/* Footer
-----------------------------------------------------------------------------*/
