/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document for IE 6 and lower */

.galerie {
_height: 1px;
}

.foto:hover, .foto.hover, .fotoHover {
background-color: #D6ECF8;
border: 1px solid #82B7DF;
}

div.foto {
behavior: url('../hover.htc');
}

div#content-box-in{
margin-left:-40px;

}
.dropbox{
    position:absolute;
    padding:20px;
    background-color: #F1F5F6;
    margin-left:-260px;
    top:320px;
    
}

#dropbox2{
position:absolute;
padding:20px;
background-color: #F1F5F6;
top:310px;
margin-left:-120px;
display:none;
}


* html div#content-box-in {
    margin-left:-20px;
    margin-right:72px;
} 

#dropbox3{
    position:absolute;
    padding:20px;
    background-color: #F1F5F6;
    display:none;
}